{% extends "base.html" %}
{% block title %}<title>{{ pagetitle | default:"SJ" }}</title>{% endblock %}
{% block content %}
<p>TEST</p>

    <!-- Testdaten hinzufügen -->
    <form action="addtestdata/" method="post"></form>
        <input type="number" name="run_num" value="">
        <input class="btn btn-primary btn-sm" type="submit" value="Testdaten anlegen" />

    <!-- <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-fixed table-striped table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Lauf #</th>
                            {% for line in num_lines %}<th scope="col">Bahn {{ line | add:"1" }}</th>{% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% regroup runs by run_nr as new_runs %}
                        <form action="updaterun/" method="post">
                            {% csrf_token %}
                            {% for x in new_runs %}
                                <tr>
                                    <td class="align-middle">
                                        <b>{{ x.grouper }}
                                            <br>
                                            <input type="hidden" name="run_num" value="{{ x.grouper }}">
                                            <input class="btn btn-primary btn-sm" type="submit" value="Speichern" />
                                        </b>
                                    </td>
                                    {% for line in num_lines %}
                                        <td>
                                            {% for y in x.list %}
                                                {% if line|add:"1" == y.line_nr %}
                                                    {% if y.result > 0 %}
                                                        <b>{{ y.fk_sj_users.firstname }} {{ y.fk_sj_users.lastname }}</b>
                                                        <br>
                                                        {{ y.fk_sj_users.byear }} / {{ y.result_category }}
                                                        <br>
                                                        Status: {{ y.state }}
                                                        <br>
                                                        <p style="color:red">Zeit: {{ y.result }}</p>
                                                    {% endif %}
                                                    {% if y.result <= 0 %}
                                                        <b>{{ y.fk_sj_users.firstname }} {{ y.fk_sj_users.lastname }}</b>
                                                        <br>
                                                        {{ y.fk_sj_users.byear }} / {{ y.result_category }}
                                                        <br>
                                                        Status: {{ y.state }}
                                                        <br>
                                                        <input type="number"
                                                               id="edit_run"
                                                               name="edit_run{{ line | add:'1' }}"
                                                               value="{{ y.fk_sj_users.startnum }}"
                                                               class="form-control form-control-sm">
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</section> -->
{% endblock %}
