{% extends "base.html" %}
{% block title %}<title>{{ pagetitle | default:"SJ" }}</title>{% endblock %}
{% block content %}
    <!-- Tabelle mit den Resultaten -->
    <div class="container">
        <div class="row">
            <div class="column">
                {% if fin_categories|length > 0 %}
                    <table class="table table-sm table-striped caption-top table-borderless">
                        <h3>
                            <b>Finalläufe</b>
                        </h3>
                        {% for c in fin_categories %}
                            <thead>
                                <tr>
                                    <th class="table-info" colspan="5">Kategorie {{ c.result_category }}</th>
                                </tr>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Rang</th>
                                    <th scope="col">Name</th>
                                    <th scope="col" style="text-align:right">Zeit</th>
                                    <th scope="col">Kategorie</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in fin_results_per_cat %}
                                    {% if r.result_category == c.result_category %}
                                        <tr>
                                            <td></td>
                                            <td>{{ r.rank }}</td>
                                            <td>{{ r.fk_sj_users__firstname }} {{ r.fk_sj_users__lastname }}</td>
                                            <td style="text-align:right">{{ r.fast_run|stringformat:'0.2f' }}</td>
                                            <td>{{ r.result_category }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="column">
                {% if categories|length > 0 %}
                    <table class="table table-sm table-striped caption-top table-borderless">
                        <h3>
                            <b>Vorläufe</b>
                        </h3>
                        {% for c in categories %}
                            <thead>
                                <tr>
                                    <th class="table-info" class="th-lg" colspan="5">Kategorie {{ c.result_category }}</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Rang</th>
                                    <th scope="col">Name</th>
                                    <th scope="col" style="text-align:right">Zeit</th>
                                    <th scope="col">Kategorie</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in results_per_cat %}
                                    {% if r.result_category == c.result_category %}
                                        <tr>
                                            <td></td>
                                            <td>{{ r.rank }}</td>
                                            <td>{{ r.fk_sj_users__firstname }} {{ r.fk_sj_users__lastname }}</td>
                                            <td style="text-align:right">{{ r.fast_run|stringformat:'0.2f' }}</td>
                                            <td>{{ r.result_category }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="column">
                {% if result_best_all|length > 0 %}
                    <table class="table table-sm table-striped caption-top table-borderless">
                        <h3>
                            <b>Alle Kategorien</b>
                        </h3>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Rang</th>
                                <th scope="col">Name</th>
                                <th scope="col" style="text-align:right">Zeit</th>
                                <th scope="col">Kategorie</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in result_best_all %}
                                <tr>
                                    <td></td>
                                    <td>{{ r.rank }}</td>
                                    <td>{{ r.fk_sj_users__firstname }} {{ r.fk_sj_users__lastname }}</td>
                                    <td style="text-align:right">{{ r.fast_run | stringformat:'0.2f' }}</td>
                                    <td>{{ r.result_category }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3 style="text-align:left">Keine Resultate vorhanden</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
