{% extends "base.html" %}
{% block title %}<title>{{ pagetitle | default:"SJ" }}</title>{% endblock %}
{% block content %}
{% load static %}

{% load bootstrap5 %}

{# Display a form #}
    
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration"
                         style="border-radius: 15px">
                        
                        <img src="{% static 'banner_sj_anmeldung.jpg' %}" class="card-img-top">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">
                                <b>{{ event_info.name | default:"" }}</b> Anmeldung (neu)
                            </h3>

                            <form action="" method="post" class="form">
                                {% csrf_token %}
                               
                                {% bootstrap_form form %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">Absenden</button>
                                {% endbuttons %}
                            </form>

                            {{ form.non_field_errors }}
                            {% if temprequest == 'edit' %}
                                <form action="updaterecord/{{ member.uuid }}" method="post">
                                {% else %}
                                    <form action = "" method = "post">
                                    {% endif %}
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                {% bootstrap_field form.firstname %}


                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                {{ form.lastname }}
                                                <label class="form-label">{{ form.lastname.label }} *</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4 d-flex align-items-center">
                                            <div class="form-outline w-100">
                                                <div class="form-outline">
                                                    {{ form.byear }}
                                                    <label class="form-label">{{ form.byear.label }} *</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            {{ form.gender }}
                                            <h6 class="mb-2 pb-1">{{ form.gender.label }} *</h6>

                                                <!-- {% for radio in RadioSelect %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="gender">
                                                        {{ radio }}
                                                    </div>
                                                {% endfor %} -->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    {{ form.email }}
                                                    <label class="form-label">{{ form.email.label }} *</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    {{ form.phone }}
                                                    <label class="form-label">{{ form.phone.label }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    {{ form.city }}
                                                    <label class="form-label">{{ form.city.label }} *</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4"></div>
                                        </div>
                                        <div class="mt-4 pt-2">
                                            <input class="btn btn-primary btn-lg" type="submit" value="Absenden" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
