{% extends "base.html" %}
{% block title %}<title>{{ pagetitle | default:"SJ" }}</title>{% endblock %}
{% block content %}
{% load static %}

{# Display a form #}

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration"
                         style="border-radius: 15px">

                        <img src="{% static 'banner_sj_anmeldung.jpg' %}" class="card-img-top">
                        <div class="card-body p-4 p-md-5">
                            {# <h2 align="center" class="mb-4 pb-2 pb-md-0 mb-md-5">Anmeldung</h2> #}
                            <h3 align="center" class="mb-4 pb-2 pb-md-0 mb-md-5">
                                <b>{{ event_info.name | default:"" }}</b>
                            </h3>
                            <h5 align="center" class="mb-4 pb-2 pb-md-0 mb-md-5">
                                 <b>{{ event_info.date | date:"l, d. F Y" | default:"" }}</b>
                            </h5>

                            <form action='' method="POST" >
                                {% csrf_token %}
                                {% comment %} {% bootstrap_form form layout='floating' exclude='phone'%}

                                {% bootstrap_button button_type="submit" content="Absenden" %}
                                {% bootstrap_button button_type="reset" content="Abbrechen" %} {% endcomment %}

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
