{% extends "base.html" %}
{% block title %}<title>{{ pagetitle | default:"SJ" }}</title>{% endblock %}

{% block extra_head %}
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<!-- 

    <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
-->

{% endblock %}

{% block content %}
    <section class="vh-20 gradient-custom">
        <div class="container py-5 h-20">
            <form action="addrun/" method="post">
                {% csrf_token %}
                <!-- --------------------------------------------------- -->
                <div class="row mb-3">
                    {% if num_lines > 4 %}
                        <div class="col-sm-1 mb-2">
                        {% else %}
                            <div class="col-sm-1 mb-1">
                            {% endif %}
                            <div class="form-outline">
                                <input id="runnr"
                                       name="run_nr"
                                       type="hidden"
                                       value="{{ run_max | add:'1' | default:'1' }}"/>
                                <b># {{ run_max | add:"1" | default:"1" }}</b>
                            </div>
                        </div>
                        {% for line in num_lines %}
                            {% if num_lines > 4 %}
                                <div class="col-sm-1 mb-2">
                                {% else %}
                                    <div class="col-sm-2 mb-2">
                                    {% endif %}
                                    <div class="form-outline">
                                        <input type="number"
                                               id="addline{{ line | add:'1' }}"
                                               name="addline{{ line | add:'1' }}"
                                               value=""
                                               class="form-control form-control-sm">
                                        <label class="form-label" for="addline{{ line | add:'1' }}">Bahn {{ line | add:"1" }}</label>
																		
                                        <button onclick="startQrReader({{ line | add:'1' }})">Start QR Reader {{ line | add:"1" }}</button>
										
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-sm-1 mb-2">
                                <div>
                                    <input class="btn btn-primary btn-sm" type="submit" value="Submit" />
                                </div>
                            </div>
                                <!-- <div id="reader" style="display:none;" width="600px"></div> -->
                                <div id="reader" style="display:block;" width="600px"></div>
                        </div>
                    </form>
                </div>
                <!-- Tabelle mit eingeteilten Läufen -->
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <table class="table table-striped table-hover caption-top">
                                <caption><b>Eingeteilte Läufe</b></caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Lauf #</th>
                                        {% for line in num_lines %}<th scope="col">Bahn {{ line | add:"1" }}</th>{% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% regroup runs by run_nr as new_runs %}
                                    {% for x in new_runs %}
                                        <tr>
                                            {% if forloop.counter < 3 %}
                                                <td class="align-middle">

                                                    <a class="btn btn-primary btn-sm"
                                                       href="edit/{{ x.grouper }}"
                                                       role="button"><b>{{ x.grouper }}</b></a>
                                                </td>
                                            {% else %}
                                                <td class="align-middle">
                                                    <b>{{ x.grouper }}</b>
                                                </td>
                                            {% endif %}
                                            {% for line in num_lines %}
                                                <td>
                                                    {% for y in x.list %}
                                                        {% if line|add:"1" == y.line_nr %}
                                                            <b>{{ y.fk_sj_users.firstname }} {{ y.fk_sj_users.lastname }}</b>
                                                            <br>
                                                            ({{ y.fk_sj_users.startnum }})
                                                            <br>
                                                            {{ y.fk_sj_users.byear }} / {{ y.result_category }}
                                                            <br>
                                                            Status: {{ y.state }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <script>
                function startQrReader(buttonId) {
                    //document.getElementById('reader').style.display = 'block';


                    function onScanSuccess(decodedText, decodedResult) {
                        // handle the scanned code as you like, for example:
                        console.log(`Code matched = ${decodedText}`, decodedResult);
                    }

                    function onScanFailure(error) {
                        // handle scan failure, usually better to ignore and keep scanning.
                        // for example:
                        console.warn(`Code scan error = ${error}`);
                    }

                    let html5QrcodeScanner = new Html5QrcodeScanner("reader", { 
                            qrbox: {width: 250, height: 250},
                            fps: 10, 
                            videoConstraints: {facingMode: { exact: "environment"}},
                        }, 
                        false);
                    html5QrcodeScanner.render(onScanSuccess, onScanFailure);


/*
                    function onScanSuccess(qrCodeMessage) {
                        document.getElementById(`addline${buttonId}`).value = qrCodeMessage;
                        html5QrCode.stop().then(ignore => {
                            document.getElementById('reader').style.display = 'none';
                        }).catch(err => {
                            console.error('Unable to stop scanning.', err);
                        });
                        html5QrCode.clear();
                    }

                    function onScanError(errorMessage) {
                        console.warn(`QR code scan error: ${errorMessage}`);
                    }

                    //var html5QrCode = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 });
                    //html5QrCode.render(onScanSuccess);


                    var html5QrCode = new Html5Qrcode("reader");
                    html5QrCode.start(
                        { facingMode: "environment" }, 
                        {
                            fps: 10,    
                            qrbox: { width: 250, height: 250 }  
                        },
                        onScanSuccess,
                        onScanError
                     ).catch(err => {
                         console.error('Unable to start scanning.', err);
                     });

 



                    let html5QrcodeScanner = new Html5QrcodeScanner("reader",
                        { fps: 10, qrbox: {width: 250, height: 250} },
                        false);
                    html5QrcodeScanner.render(onScanSuccess, onScanFailure);


                        supportedScanTypes: [
                            Html5QrcodeScanType.SCAN_TYPE_CAMERA
                        ],

let html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", 
    { 
        fps: 10,
        qrbox: qrboxFunction,
        experimentalFeatures: {
            useBarCodeDetectorIfSupported: true
        },
        rememberLastUsedCamera: true,
        supportedScanTypes: [
            Html5QrcodeScanType.SCAN_TYPE_FILE, 
            Html5QrcodeScanType.SCAN_TYPE_CAMERA
        ],
        aspectRatio: 1.7777778
    });


*/


                }
            </script>
{% endblock %}
