{% extends "base2.html" %}

{% block title %}
    <title>{{ pagetitle | default:"SJ" }}</title>
{% endblock %}

{% block content %}
    <style>
        /* Print-specific styles */
        @media print {
            table {
                width: 100%;
            }

            th, td {
                padding: 0.5rem;
                font-size: 14px;
            }

            caption {
                font-size: 16px;
                text-align: center;
            }

            hr.my-1 {
                border: 2px solid #000000;
                margin: 0;
            }

            /* Hide unwanted elements on print */
            .no-print {
                display: none;
            }

            /* Page break */
            .page-break {
                page-break-before: always;
            }
        }
    </style>

    <section>
        {% regroup runs by run_nr as new_runs %}

        <!-- Print Button -->
        <button class="btn btn-primary no-print" onclick="window.print()">Print</button>
        
        <table class="table table-sm table-striped caption-top">
            <caption><b>Finalläufe</b><br>
            {{ event_info.name }}, {{ event_info.date | date:"l, d. F Y" | default:"" }}</caption>
            
            <thead>
                <tr>
                    <th scope="col">#</th>
                    {% for line in num_lines %}
                        <th scope="col">Bahn {{ line | add:"1" }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- First, print all 'W' (Women) entries -->
                {% for x in new_runs %}
                    {% if x.list.0.result_category|slice:":1" == "W" %}
                    <tr>
                        <td class="align-middle">
                            <b>{{ x.list.0.result_category }}</b> <br> ({{ x.grouper }})
                        </td>
                        {% for line in num_lines %}
                            <td>
                                {% for y in x.list %}
                                    {% if line|add:"1" == y.line_nr %}
                                        <b>{{ y.fk_sj_users.firstname }} {{ y.fk_sj_users.lastname }}</b> <br>
                                        {{ y.fk_sj_users.byear }} | {{ y.result_category }} ({{ y.fk_sj_users.startnum }})<br>
                                        <br>
                                        <hr class="my-1">
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <!-- Page break -->
        <div class="page-break"></div>

        <table class="table table-sm table-striped caption-top">
            <caption><b>Finalläufe</b><br>
            {{ event_info.name }}, {{ event_info.date | date:"l, d. F Y" | default:"" }}</caption>
            
            <thead>
                <tr>
                    <th scope="col">#</th>
                    {% for line in num_lines %}
                        <th scope="col">Bahn {{ line | add:"1" }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Then, print all 'M' (Men) entries -->
                {% for x in new_runs %}
                    {% if x.list.0.result_category|slice:":1" == "M" %}
                    <tr>
                        <td class="align-middle">
                            <b>{{ x.list.0.result_category }}</b> <br> ({{ x.grouper }})
                        </td>
                        {% for line in num_lines %}
                            <td>
                                {% for y in x.list %}
                                    {% if line|add:"1" == y.line_nr %}
                                        <b>{{ y.fk_sj_users.firstname }} {{ y.fk_sj_users.lastname }}</b> <br>
                                        {{ y.fk_sj_users.byear }} | {{ y.result_category }} ({{ y.fk_sj_users.startnum }})<br>
                                        <br>
                                        <hr class="my-1">
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
