{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bs-502.css' %}">
{# Display a form #}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration"
                     style="border-radius: 15px">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">BANNER EINFUELLEN</h3>
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Anmeldung EVENT EINFUELLEN</h3>
                        <form action="addrecord/" method="post">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="fname" class="form-control form-control-lg" required/>
                                        <label class="form-label" for="fname">Vorname *</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="lname" class="form-control form-control-lg" required/>
                                        <label class="form-label" for="lname">Nachname *</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <input type="number"
                                               class="form-control form-control-lg"
                                               id="byear"
                                               required/>
                                        <label for="byear" class="form-label">Jahrgang *</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6 class="mb-2 pb-1">Geschlecht *</h6>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="inlineRadioOptions"
                                               id="femaleGender"
                                               value="option1"
                                               checked/>
                                        <label class="form-check-label" for="femaleGender">Weiblich</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="inlineRadioOptions"
                                               id="maleGender"
                                               value="option2"/>
                                        <label class="form-check-label" for="maleGender">Männlich</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="email"
                                               id="uemail"
                                               class="form-control form-control-lg"
                                               required/>
                                        <label class="form-label" for="uemail">Email Adresse *</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="tel" id="phone" class="form-control form-control-lg" />
                                        <label class="form-label" for="phone">Telefon Nummer</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <select class="select form-control-lg">
                                        <option value="1" disabled>
                                            Wähle deine Option
                                        </option>
                                        <option value="2">
                                            Ja
                                        </option>
                                        <option value="3">
                                            Nein
                                        </option>
                                        <option value="4">
                                            Daten löschen
                                        </option>
                                    </select>
                                    <label class="form-label select-label">Choose option</label>
                                </div>
                            </div>
                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
