# Python
*.pyc
*~
__pycache__

# Database
*.sqlite3
db.sqlite3

# static files
members/static/

#local tests files/snippets
00-tests/

# Env
.env
myvenv/
venv/

# Static Ordner im Projektverzeichnis
#/static/
000_*

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace