### pip install --upgrade pip
### pip install -r requirements.txt
appdirs==1.4.4
argcomplete==3.6.2
asgiref==3.9.1
Django==5.2.4
django-bootstrap-static==5.3.3
importlib_resources==6.5.2
numpy==2.3.2
pillow==11.3.0
python-barcode==0.15.1
python-escpos==3.1
PyYAML==6.0.2
qrcode==8.2
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
gunicorn==23.0.0

celery[redis]