<body>
    <div class="email-container">
        {% if form_data.state == 'YES' %}
        <p>Hallo {{ firstname }}</p>

        <p>Du bist für den <strong>{{ event_info.name }}</strong> am <strong>{{ event_info.date | date:"l, d. F Y" | default:"" }}</strong> angemeldet.<br>
        Wir freuen uns auf einen spannenden Wettkampf.</p>

        <p>Sportliche Grüsse<br>
        OK Schnällschte Jegenstorfer</p>

        {% elif form_data.state == 'NO' %}
        <p>Hallo {{ firstname }}</p>

        <p>Schade kannst du diesmal nicht aktiv dabei sein.<br>
        Wir würden uns freuen, wenn du nächstes Jahr wieder am Start bist.</p>

        <p>Sportliche Grüsse<br>
        OK Schnällschte Jegenstorfer</p>

        {% elif state == 'DEL' %}
        <p>Hallo {{ firstname }}</p>

        <p>Wir haben deine Daten gelöscht.</p>

        <p>Sportliche Grüsse<br>
        OK Schnällschte Jegenstorfer</p>

        {% endif %}
    </div>
</body>
</html>